doctype html
html(lang='pt-BR')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Currículo - Start Bootstrap

        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v6.3.0/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i', rel='stylesheet', type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#sideNav.navbar.navbar-expand-lg.navbar-dark.bg-primary.fixed-top
            a.navbar-brand.js-scroll-trigger(href='#page-top')
                span.d-block.d-lg-none Clarence Taylor
                span.d-none.d-lg-block
                    img.img-fluid.img-profile.rounded-circle.mx-auto.mb-2(src='assets/img/profile.jpg', alt='...')
            button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#about') Sobre
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#experience') Experiência
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#education') Formação
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#skills') Habilidades
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#interests') Interesses
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#awards') Prêmios

        // Page Content
        .container-fluid.p-0

            // About
            section#about.resume-section
                .resume-section-content
                    h1.mb-0
                        | Pedro
                        span.text-primary Lopes
                    .subheading.mb-5
                        | Presidente Prudente, SP · (18) 99630.8997 · 
                        a(href='mailto:pedrolopes@email.com') pedrolopes@email.com
                    p.lead.mb-5
                        | Tenho experiência em utilizar metodologias ágeis para fornecer um resumo sólido para visões gerais de alto nível. Abordagens iterativas para a estratégia corporativa estimulam o pensamento colaborativo e ampliam a proposta de valor.
                    .social-icons
                        a.social-icon(href='#!')
                            i.fab.fa-linkedin-in
                        a.social-icon(href='#!')
                            i.fab.fa-github
                        a.social-icon(href='#!')
                            i.fab.fa-twitter
                        a.social-icon(href='#!')
                            i.fab.fa-facebook-f
                        a.social-icon(href='#!')
                            i.fab.fa-instagram

            hr.m-0

            // Experience
            section#experience.resume-section
               .resume-section-content
                    h2.mb-5 Experiência

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Senior Web Developer
                            .subheading.mb-3 Intelitec Solutions
                            p
                                | Apresentar estratégias de sobrevivência ganha-ganha para garantir domínio proativo. No fim das contas, avançando, uma nova normalidade que evoluiu da geração X está pronta para uma solução em nuvem mais enxuta. Conteúdo gerado pelo usuário em tempo real terá múltiplos pontos de contato para terceirização.
                        .flex-shrink-0
                            span.text-primary Março 2026 - Present

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Web Developer
                            .subheading.mb-3 Intelitec Solutions
                            p
                                | Capitalizar oportunidades de fácil alcance para identificar uma atividade de valor estimado a ser testada em beta. Superar a divisão digital com cliques adicionais do DevOps. A imersão em nanotecnologia ao longo da rodovia da informação fechará o ciclo ao focar exclusivamente no resultado final.
                        .flex-shrink-0
                            span.text-primary Dezembro 2023 - Março 2025

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Junior Web Designer
                            .subheading.mb-3 Shout! Media Productions
                            p
                                | Gerenciar mudanças operacionais em fluxos de trabalho para estabelecer uma estrutura. Levar indicadores-chave de desempenho de forma integrada para maximizar o longo prazo. Manter o foco enquanto realiza uma análise profunda da mentalidade startup para convergir na integração multiplataforma.
                        .flex-shrink-0
                            span.text-primary Julho 2020 - Dezembro 2023

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Web Design Intern
                            .subheading.mb-3 Shout! Media Productions
                            p
                                | Administrar colaborativamente mercados capacitados via redes plug-and-play. Procrastinar dinamicamente usuários B2C após benefícios da base instalada. Visualizar dramaticamente a convergência orientada ao cliente sem um ROI revolucionário.
                        .flex-shrink-0
                            span.text-primary Setembro 2020 - Junho 2022

            hr.m-0

            // Education
            section#education.resume-section
                .resume-section-content
                    h2.mb-5 Formação

                    .d-flex.flex-column.flex-md-row.justify-content-between.mb-5
                        .flex-grow-1
                            h3.mb-0 Unoeste
                            .subheading.mb-3 Bacharelado
                            div Ciência da Computação - Ênfase em Desenvolvimento Web
                            p Coeficiente de Rendimento (GPA): 3.23
                        .flex-shrink-0
                            span.text-primary Janeiro 2020 - Dezembro 2024

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Unoeste
                            .subheading.mb-3 Programa de Tecnologia
                            div ADS - Análise e desenvolvimento de sistemas
                            p Coeficiente de Rendimento (GPA): 3.56
                        .flex-shrink-0
                            span.text-primary Janeiro 2017 - Junho 2019

                    .d-flex.flex-column.flex-md-row.justify-content-between
                        .flex-grow-1
                            h3.mb-0 Senai
                            .subheading.mb-3 Curso Técnico
                            div Eletroeletrônica
                            p Coeficiente de Rendimento (GPA): 3.80
                        .flex-shrink-0
                            span.text-primary Janeiro 2021 - Dezembro 2023

            hr.m-0

            // Skills
            section#skills.resume-section
                .resume-section-content
                    h2.mb-5 Habilidades
                    .subheading.mb-3 Linguagens de Programação e Ferramentas
                    ul.list-inline.dev-icons
                        li.list-inline-item
                            i.fab.fa-html5
                        li.list-inline-item
                            i.fab.fa-css3-alt
                        li.list-inline-item
                            i.fab.fa-js-square
                        li.list-inline-item
                            i.fab.fa-angular
                        li.list-inline-item
                            i.fab.fa-react
                        li.list-inline-item
                            i.fab.fa-node-js
                        li.list-inline-item
                            i.fab.fa-sass
                        li.list-inline-item
                            i.fab.fa-less
                        li.list-inline-item
                            i.fab.fa-wordpress
                        li.list-inline-item
                            i.fab.fa-npm
                        li.list-inline-item
                            i.fab.fa-python
                    .subheading.mb-3 Workflow
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Mobile-First, Design Responsivo
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Testes e Depuração entre Navegadores
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Equipes Multidisciplinares
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Desenvolvimento Ágil e Scrum
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Controle de Versão com Git e GitHub
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Design de UI/UX
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Desenvolvimento de interfaces com Python
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Gamefication Unity 2D e 3D
                        li
                            span.fa-li
                                i.fas.fa-check
                            | Automação residencial com Arduino e Raspberry Pi

            hr.m-0

            // Interests
            section#interests.resume-section
                .resume-section-content
                    h2.mb-5 Interesses
                    p
                        | Além de ser desenvolvedor web, gosto de passar a maior parte do meu tempo ao ar livre, aprecio mountain bike.
                    p.mb-0
                        | Quando forçado a ficar em ambientes fechados, acompanho filmes e séries de ficção científica e fantasia, sou um chef aspirante e dedico grande parte do meu tempo livre a explorar os avanços tecnológicos mais recentes no desenvolvimento front-end.

            hr.m-0

            // Awards
            section#awards.resume-section
                .resume-section-content
                    h2.mb-5 Prêmios & Certificações
                    ul.fa-ul.mb-0
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Desenvolvedor Certificado em Google Analytics
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | Especialista em Web Móvel - Certificação Google
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1º Lugar - Unoeste - Emerging Tech Competition 2018
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 1º Lugar - Unoeste - Adobe Creative Jam 2020 (Categoria: UI Design)
                        li
                            span.fa-li
                                i.fas.fa-trophy.text-warning
                            | 2º Lugar - Unoeste - Emerging Tech Competition 2019

        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js')

        // Core theme JS
        script(src='js/scripts.js')